<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>安吉乐智能家居</title>
<link rel="stylesheet" href="css/main.css" type="text/css">
<link rel="stylesheet" href="css/index.css" type="text/css">
<script src="js/jquery-1.9.1.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="ckplayer/ckplayer.js" charset="utf-8"></script>
<script src="js/index.js"></script>
</head>
<body>

<div id="main_nav">
	<div class="main_nav_outer">
		<div class="main_nav_wrap wrap">
			<div id="main_logo"></div>
			<ul class="main_nav_cont">                                                                                     
				<li class="active">
					<a href="#">首页</a>
				</li>
				<li>
					<a href="#">智能科技</a>
					<div class="nav_sel">
						<ul>
							<li><a href="#">li1</a></li>
							<li><a href="#">li2</a></li>
							<li><a href="#">li3</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#">成品</a>

				</li>
				<li>
					<a href="#">团队</a>
					<div class="nav_sel">
						<ul>
							<li><a href="#">li1</a></li>
							<li><a href="#">li2</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#">活动</a>
					<div class="nav_sel">
						<ul>
							<li><a href="#">li1</a></li>
							<li><a href="#">li2</a></li>
							<li><a href="#">li3</a></li>
							<li><a href="#">li4</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#">售后</a>

				</li>
			</ul>
			<div class="main_nav_right">
				<p>24小时服务电话:<span> 400-888-8888</span></p>
				<div class="input_wrap">
					<input class="main_nav_txt" type="text" value="Search:">
					<input class="main_nav_btn" type="button">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="header">
	<div class="head_top">
		<div class="head_top_cont wrap">
			<p>欢迎您访问安吉乐智能家居官方网站！</p>
			<ul class="head_top_right">
				<li ><a id="main_login" href="#">登录</a></li>
				<li><a id="main_reg" href="#">注册</a></li>
				<li><a id="main_collect" href="#">加入收藏</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="banner">
	<div class="banner_wrap">
		<ul class="banner_pic js_pic">
			<li><img src="img/banner1.jpg" alt="1" title="1"></li>
			<li><img src="img/banner1.jpg" alt="2" title="2"></li>
			<li><img src="img/banner1.jpg" alt="3" title="3"></li>
			<li><img src="img/banner1.jpg" alt="4" title="4"></li>
		</ul>
		<div class="banner_out">
			
		</div>
		<ul class="banner_tab js_btn">
		</ul>
		<a href="javascript:;" class="prev"></a>
		<a href="javascript:;" class="next"></a>
	</div>
</div>
<div id="show" class="wrap">
	<div class="show_top">
		<ul class="show_top_cont">
			<li class="active li1">
				<p>设计案例</p>
			</li>
			<li class="li2">
				<p>设计团队</p>
			</li>
			<li class="li3">
				<p>施工新闻</p>
			</li>
			<li class="last li4">
				<p>娱乐资讯</p>
			</li>
		</ul>
	</div>
	<div class="word">
		<div class="left">
			<h2>样品展示</h2>
			<p>PRODUCT DISPLAY</p>
		</div>
		<a href="#" class="right">
			<p>MORE</p>
		</a>
	</div>
	<div class="show_wrap">
		<ul class="show_pic clear">
			<li>
				<a href="#">
					<img src="img/show1.jpg" alt="" title="0">
				</a>
				<div class="mask">
					<h3>智能遥控</h3>
					<p>智能遥控设计,为了方便广大群众在家呆的舒心,住的安心!</p>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="img/show1.jpg" alt="" title="1">
				</a>
				<div class="mask">
					<h3>智能遥控</h3>
					<p>智能遥控设计,为了方便广大群众在家呆的舒心,住的安心!</p>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="img/show1.jpg" alt="" title="2">
				</a>
				<div class="mask">
					<h3>智能遥控</h3>
					<p>智能遥控设计,为了方便广大群众在家呆的舒心,住的安心!</p>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="img/show1.jpg" alt="" title="3">
				</a>
				<div class="mask">
					<h3>智能遥控</h3>
					<p>智能遥控设计,为了方便广大群众在家呆的舒心,住的安心!</p>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="img/show1.jpg" alt="" title="4">
				</a>
				<div class="mask">
					<h3>智能遥控</h3>
					<p>智能遥控设计,为了方便广大群众在家呆的舒心,住的安心!</p>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="img/show1.jpg" alt="" title="5">
				</a>
				<div class="mask">
					<h3>智能遥控</h3>
					<p>智能遥控设计,为了方便广大群众在家呆的舒心,住的安心!</p>
				</div>
			</li>
		</ul>
		<a href="javascript:;" class="prev"></a>
		<a href="javascript:;" class="next"></a>
	</div>
</div>

<div id="price">
	<div class="price_wrap">
		<div class="word">
			<div class="left gc_l">
				<h2>询价表单</h2>
				<p>INQUIRY FORM</p>
			</div>
		</div>
		<div class="price_cont clear">
			<div class="price_left">
				<ul class="price_pic js_pic">
					<li><img src="img/price.jpg" alt="1"></li>
					<li><img src="img/price.jpg" alt="2"></li>
					<li><img src="img/price.jpg" alt="3"></li>
				</ul>
				<ul class="price_btn js_btn">
				</ul>
				<a href="javascript:;" class="prev"></a>
				<a href="javascript:;" class="next"></a>
				<div class="mask">
					<p>楼盘:安吉乐</p>
					<p>面积:105m<sup>2</sup></p>

					<p>档次:高级</p>
					<p>装修:精装</p>
					<p>价格:20-30万</p>
					<p>解析：传统稳重传统稳重传统稳重传统稳重传统稳重传统稳重传统稳重传统稳重传统稳重</p>
					<p>联系我们</p>
					<p>手机：1505151771</p>
					<p>邮箱：znzs@ajl,com</p>
					<p>地址：重庆市渝北区新溉大道 力帆时代A座15楼（轻轨3号线唐家院子旁）</p>
				</div>
			</div>
			<div class="price_right">
				<div class="price_fm">
					<form id="price_table">
						<ul>
							<li class="li1">
								您的称呼
								<input type="text" name="user">
								联系电话
								<input type="text" name="phone">
							</li>
							<li class="li2">
								房屋户型
							
								<select name="zoom">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								
								室
								
								<select name="office">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								
								厅
								
								<select name="toilet">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							
								卫
							</li>
							<li class="li3">
								装修面积
								<select name="measure">
									<option value="1">0-50平米</option>
									<option value="2">50-100平米</option>
									<option value="3">100-200平米</option>
								</select>
								<!-- m<sup>2</sup> -->
								装修档次
								
								<select name="size">
									<option value="1">精装</option>
									<option value="2">细装</option>
									<option value="3">慢装</option>
								</select>
									
							</li>
							<li class="li4">
								装修价格
								
								<select name="size">
									<option value="1">5-10万</option>
									<option value="2">10-20万</option>
									<option value="3">20-30万</option>
								</select>
									
								装修风格
								
								<select name="size">
									<option value="1">欧美</option>
									<option value="2">中式</option>
									<option value="3">混合</option>
								</select>
								
							</li>
							<li class="li5">
								装修要求
								<input type="text" name="request">
							</li>
							<li class="li6">
								装修地址
								<input type="text" name="site">
							</li>
							<li class="li7">
								<span>您的咨询填写，我们将为您做最好的回答!</span>
							</li>
						</ul>
						<div class="btn">
							<input type="reset" value="重新计算">
							<input type="button" value="开始计算">
						</div>
					</form>
				</div>
				<div class="price_text">
					<h2>联系我们</h2>
					<p>手机：1505151771</p>
					<p>邮箱：znzs@ajl,com</p>
					<p>地址：重庆市渝北区新溉大道力帆时代A座15楼（轻轨3号线唐家院子站旁</p>
				</div>
			</div>
		</div>
	</div>
	<div class="code_wrap">
		<img src="img/price_code.jpg" alt="">
	</div>
</div>

<div id="case" class="wrap">
	<div class="word">
		<div class="left">
			<h2>设计案例</h2>
			<p>DESIGN CASE</p>
		</div>
		<a href="#" class="right">
			<p>MORE</p>
		</a>
	</div>
	<ul class="case_btn">                                                      
		<li class="active">北欧</li>
		<li>简欧</li>
		<li>新中式</li>
		<li>美式</li>
		<li>现代简约</li>
		<li>田园</li>
		<li>欧式</li>
		<li>美式乡村</li>
		<li>中式</li>
		<li>地中海</li>
		<li>混搭</li>
	</ul>
	<ul class="case_pic clear">
		<li class="first">
			<img src="img/case1.jpg" alt="1">
			<div class="mask">
				<h3>楼盘:万科御园 面积:330平方 价格:35万</h3>
				<p>北欧风格家具借鉴了包豪斯设计风格，并融入斯堪迪那地区的特色，形成了以自然简约为主的独特风格，形成了以自然简约为主的独特风格。</p>
			</div>
		</li>
		<li>
			<img src="img/case2.jpg" alt="2">
			<div class="mask">
				<h3>标题</h3>
				<p>文字文字文字文字文字文字</p>
			</div>
		</li>
		<li>
			<img src="img/case2.jpg" alt="2">
			<div class="mask">
				<h3>标题</h3>
				<p>文字文字文字文字文字文字</p>
			</div>
		</li>
		<li>
			<img src="img/case2.jpg" alt="2">
			<div class="mask">
				<h3>标题</h3>
				<p>文字文字文字文字文字文字</p>
			</div>
		</li>
		<li>
			<img src="img/case2.jpg" alt="2">
			<div class="mask">
				<h3>标题</h3>
				<p>文字文字文字文字文字文字</p>
			</div>
		</li>
	</ul>
</div>

<div id="team">
	<div class="team_wrap">
		<div class="word">
			<div class="left gc_l">
				<h2>设计团队</h2>
				<p>DESIGN TEAM</p>
			</div>
			<a href="#" class="right">
				<p>MORE</p>
			</a>
		</div>
		<div class="team_pic_wrap">
			<ul class="team_pic clear">
				<li>
					<img src="img/team1.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team1.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team1.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team1.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team1.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team1.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
				<li>
					<img src="img/team2.jpg" alt="1">
					<div class="mask">
						<div class="img_wrap">
							<img src="img/team2.jpg" alt="1">
						</div>
						<h2>name</h2>
						<h3>首席设计师</h3>
						<p>设计经验:**年</p>
						<p>设计心语:文字文字文字文字文字文字文字文字文字文字</p>
						<p>擅长风格:文字文字文字文字文字文字文字文字文字文字文字文字</p>
						<a href="#" class="btn">立即预约</a>
					</div>
				</li>
			</ul>
		</div>
		<ul class="team_btn clear">
			
		</ul>
	</div>
</div>

<div id="record">
	<div class="record_title">
		<h2>实时记录</h2>
		<p>REAL-TIME RECORDING</p>
	</div>
	<div class="record_cont">
		<div class="record_left">
			<div class="record_word_wrap">
				<div class="record_word">
					<div class="left">
						<h2>施工新闻</h2>
					</div>
					<a href="#" class="right">MORE>></a>
				</div>
			</div>
			<div class="record_pic_wrap">
				<ul class="record_pic">
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					<li>
						<img src="img/record_pic.jpg" alt="1">
						<h3><a href="#">对客户负责、让客户满意！</a></h3>
						<p>今天我们采访了了工地上的一位前辈，他干这一行已经6年了，我们问他这六年来有没有中途不干了的想法？他说：没有干了的想法？他说：没有</p>
						<a href="#">[详情]</a>
						<span>2017-5-23</span>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="record_right">
			<div class="record_word_wrap">
				<div class="record_word">
					<div class="left">
						<h2>正在施工</h2>
					</div>
					<a href="#" class="right">MORE>></a>
				</div>
			</div>
			<div id="vedio1">
				
			</div>
			<div class="record_vedio_wrap">
				<ul class="record_vedio">
					
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="fun" class="wrap">
	<div class="word">
		<div class="left">
			<h2>娱乐资讯</h2>
			<p>Entertainment News</p>
		</div>
		<a href="#" class="right">
			<p>MORE</p>
		</a>
	</div>
	<div class="fun_cont clear">
		<div class="fun_left">
			<ul class="fun_pic js_pic">
				<li><img src="img/fun1.jpg" alt="1"></li>
				<li><img src="img/fun1.jpg" alt="2"></li>
				<li><img src="img/fun1.jpg" alt="3"></li>
				<li><img src="img/fun1.jpg" alt="4"></li>
			</ul>
			<ul class="fun_btn js_btn">
			</ul>
			<div class="mask"></div>
			<a href="javascript:;" class="prev"></a>
			<a href="javascript:;" class="next"></a>
		</div>
		<div class="fun_right">
			<ul class="fun_news">
				<li>
					<div class="left">
						<h3><span>4</span><i>/</i>25</h3>
						<p>2017</p>
					</div>
					<p>员工是公司的宝贵财富，而新员工则是公司的新鲜血液。
XX网在持续建全培训体系的过程中，尤其重视...而新员工则是公司的新鲜血液</p>
					<a href="#">[查看]</a>
				</li>
				<li>
					<div class="left">
						<h3><span>4</span><i>/</i>25</h3>
						<p>2017</p>
					</div>
					<p>员工是公司的宝贵财富，而新员工则是公司的新鲜血液。
XX网在持续建全培训体系的过程中，尤其重视...</p>
					<a href="#">[查看]</a>
				</li>
				<li>
					<div class="left">
						<h3><span>4</span><i>/</i>25</h3>
						<p>2017</p>
					</div>
					<p>员工是公司的宝贵财富，而新员工则是公司的新鲜血液。
XX网在持续建全培训体系的过程中，尤其重视...</p>
					<a href="#">[查看]</a>
				</li>
				<li>
					<div class="left">
						<h3><span>4</span><i>/</i>25</h3>
						<p>2017</p>
					</div>
					<p>员工是公司的宝贵财富，而新员工则是公司的新鲜血液。
XX网在持续建全培训体系的过程中，尤其重视...</p>
					<a href="#">[查看]</a>
				</li>
				<li>
					<div class="left">
						<h3><span>4</span><i>/</i>25</h3>
						<p>2017</p>
					</div>
					<p>员工是公司的宝贵财富，而新员工则是公司的新鲜血液。
XX网在持续建全培训体系的过程中，尤其重视...</p>
					<a href="#">[查看]</a>
				</li>
				<li>
					<div class="left">
						<h3><span>4</span><i>/</i>25</h3>
						<p>2017</p>
					</div>
					<p>员工是公司的宝贵财富，而新员工则是公司的新鲜血液。
XX网在持续建全培训体系的过程中，尤其重视...</p>
					<a href="#">[查看]</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="brand">
	<div class="brand_wrap wrap">
		<div class="brand_title">
			<h2>合作品牌</h2>
			<p>COOPERTATIVE BRAND</p>
		</div>
		<ul class="brand_pic clear">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div id="goTop"></div>
</div>

<div id="footer">
	<div class="content">
		<ul class="foot_nav">                                                  
			<li><a href="#">首页</a></li>
			<li><a href="#">智能科技</a></li>
			<li><a href="#">成品展示</a></li>
			<li><a href="#">设计团队</a></li>
			<li><a href="#">活动</a></li>
			<li><a href="#">售后服务</a></li>
		</ul>
		<p>24小时全国免费服务:400-888-8888  传真号码：4000-000-88888 电子邮箱：znzs@ajl.com</p>
		<p>地址：重庆市渝北区新溉大道力帆时代A座15楼轻轨3号线唐家院子站旁）</p>
		<p class="light">Copyright  2002-2017  版权所有 并保留所有权利 </p>
		<p class="light">渝ICP备 516355985655号</p>
	</div>
</div>
</body>
</html>